# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

*Objectives:*
- List popular languages used in Data Science
- List commonly used libraries for Data Science
- Create tables using Markdown
- Perform simple arithmetic operations using Phyton
- convert minutes to hours using Phyton

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Roser Moreno